/********************\
  $Reset ☰
\********************/
* {
  box-sizing:border-box;
}
body {
  margin:0;
  padding:0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'PT Sans', sans-serif;
}
a {
  text-decoration:none;
}
.nav {
  position:absolute;
  width:200px;
  height:100vh;
  top:0;
  left:-220px; /*menú oculto en la parte izquierda para que no se vea a menos que pulsemos sobre la hamburguesa*/
  padding-top:47px;
  background-color: rgba(29, 33, 32, 1);
  border-right:4px solid #FF13B2;
  transition:all .5s ease; /*Damos a la caja del menú una transición para que tenga un desplazamiento suave*/
  z-index: 1000;

}
   /*Estilos de los li del menú*/
   .nav__item {
     display:block;
     width:96%;
     margin:0 auto;
     line-height:2;
     position:relative; 
     border-bottom:.5px solid #FF13B2;
     border-top:.5px solid #FF13B2;
     background-color:transparent;
     text-align:center;
     color:#36FF13;
     text-decoration:none; 

   }

a:link{   
 text-decoration:none;
} 

       .current:before {
          content:"";
          width:0;
          height:0;
          position:absolute; /*Le damos al before una posición absoluta relativa al li que lo contiene*/
          border-top:17px solid transparent;
          border-left:15px solid #1D2120;
          border-bottom:17px solid transparent;
          top:0px;
          right:-15px; /*Lo posicionamos -15px a la derecha de su contenedor*/
          z-index:4; 
       }
      .current:after {
          content:"";
          width:0;
          height:0;
          position:absolute;
          border-top:16.5px solid transparent;
          border-left:17px solid #FF13B2;
          border-bottom:17px solid transparent;
          top:.5px;
          right:-21px;
          z-index:1;  
      }
  /*Estos son los estilos de la hamburguesa del menú que abre y cierra el mismo*/
  .menu-toogle {
    position:absolute;
    width: 35px;
    line-height:1.1;
    text-align:center;
    top:6.5px;
    left: 8px; 
    border-radius:3px;
    transition: all .5s ease; /*transición para que realice un desplazamineto suave*/
    z-index:1000;
  }
    /*Añadimos la haburguesa y le damos unos estilos*/
    .menu-toogle::before {
      content:"☰";
      font-size:300%;
      color:#FF13B2;
    }
    .menu-toogle:hover{
      background-color: #B2107E;
      width: 8%;
    }

/* Le damos unos estilos al contenedor principal*/
.main-w {
  width:100%;
  height:100vh;
  transition: all .5s ease;
}   
    
    /*Estos son los estilos que le dan la funcionalidad al menú*/
    /*El checkbox según esté activado o no hará que el menú aparezca o desaparezca*/
    .checkbox {
      display:none; /*Ocultamos el checkbox pues no nos interesa que se vea*/
    }
    .checkbox:checked ~ .nav {
      left:0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
      position:fixed; /* Fijamos el menú lateral para que se desplace cuando hagamos scroll*/
    }
    .checkbox:checked ~ .main-w {
      margin-left:200px; /*Cuando el checkbox asigna un margen al contenedor principal para que se desplace junto con el menú*/
    }
    .checkbox:checked ~ .menu-toogle { 
      left:208px;
      position:fixed; /*Fijamos la hamburgues para que se desplace junto con el menú*/
    }

