/*colores
morado:#B2107E;
morado claro:#FF13B2;
rosado:#FF4DCC;
verde complementario:#1BB200;
verde claro:#36FF13;

naranjofuerte:#FF8300;
celeste:#26C6FF;
azul palido:#0084B2;
naranjopalido:#FF9019;

*/


body{
	margin:0;
	padding:0;
	font-family: 'PT Sans', sans-serif;
	color: white;
}

/*nav*/
.nav>li>a{
	
	color: #B2107E;
}

.navbar-inverse{
	background-color:white;
	border-color:;	
}

.navbar-inverse .navbar-nav>li>a{
	color:#B2107E;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

#titulonav{
	color: #B2107E;
	font-family: 'Kaushan Script', cursive;

}

li:hover{
	background-color: #B2107E;


}
.navbar-toggle{
	background-color: #B2107E;
	border:transparent;
}
.navbar-inverse .navbar-toggle:hover{
	background-color: #0084B2;
}
.navbar-inverse .navbar-collapse{
	border-color: white;
}

/* textos*/
h1{
	margin-bottom:3%;
	margin-top: 3%;
	font-size: 350%;
	font-family: 'Kaushan Script', cursive;
	

}

h4{
	
	font-size: 150%;
	margin-top: 5%;
}



/*seccion sobre mi*/

.yo{
	background-image: url(../img/fondouno.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	color: white;

}

#blanco{
	color: white;
	margin-top: 5%;
}
#link{
	color: white;

}
p{
	font-size: 20px;
	margin-bottom: 5%;
}

#titulouno{
	margin-top: 10%;
	margin-bottom: 10%;
}

#fotoyo {
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;

}

#textoyo{
	background-color: rgba(0, 0, 0, 0.3);
}


/*seccion habilidades*/

#habili{
	color: white;
}

#espacio {
    margin-top: 5%;
    margin-bottom: 5%;
}


#cien{
	width: 75px;
}

#s7{
	width: 80px;
}


/*seccion portafolio*/


#portafolio{
	background-color: #B2107E;

}

#icoport{
	font-size: 700%;
	margin-top: 10%;
	margin-bottom: 5%;
}

#blanco{
	margin-bottom: 20%;
}


/*modal*/
.btn{
	background-color:#B2107E;
	margin-top: 5%;
	margin-bottom:5%;
	font-size:130%;
	color: width;
	border:transparent;
	
}


#dialogofoto{
	width: 80%;

}
.fade{
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

/*trabajos web*/
.web{
	background-color:#26C6FF;
}
#trabajosweb{
	width: 100%;
}

#movil{
	width: 40%;
}
#botonazul{
	
	margin-bottom: 10%;
}
#botonazul:hover{
	background-color: #26C6FF;

}

/*video responsive*/

iframe{
 	height: 80%;
	width: 80%;
}
.video{
	background-color: #B2107E;
	color: white;
}

#videouno{
 	height: 50%;
	width: 50%;
}

/*seccion foto*/
#fotografias{
	background-color: #26C6FF;
}

/*seccion facilitacion*/
#facil{
	background-color: #B2107E;
}
#metodogia{
	margin-bottom: 5%;
}

#bajada{
	margin-bottom: 5%;
}

/*seccion contacto*/
#contacto{
	background-color: #26C6FF;
	color: white;
}

#email {
    margin-top: 1%;
    margin-bottom: 2%;
}
#icon{
	color:white;
	font-size: 500%;
	cursor: pointer;
	margin-bottom: 5%;
}

#icon:hover{
	color:#B2107E;
}

#iconyu{
	color:#B2107E;
	font-size: 500%;
	cursor: pointer;
	margin-bottom: 10%;
}

#iconyu:hover{
	color:white;
}


