/*colores
morado:#B2107E;
morado claro:#FF13B2;
rosado:#FF4DCC;
verde complementario:#1BB200;
verde claro:#36FF13;

naranjofuerte:#FF8300;
celeste:#26C6FF;
azul palido:#0084B2;
naranjopalido:#FF9019;

*/


body{
	margin:0;
	padding:0;
	font-family: 'PT Sans', sans-serif;
	color: white;
}

/*nav*/
.navbar-inverse{
	
}
.nav>li>a{
	color: #B2107E;
}

.navbar-inverse{
	background-color:white;
	border-color:#B2107E;

}

.navbar-inverse .navbar-nav>li>a{
	color:#B2107E;
	text-align: center;
}

#titulonav{
	color: #B2107E;
	font-family: 'Kaushan Script', cursive;
	margin-top: 5%;
	margin-left: 10%;

}

li:hover{
	background-color: #B2107E;


}
.navbar-toggle{
	background-color: #B2107E;
	border: #B2107E;
}
.navbar-inverse .navbar-toggle:hover{
	background-color: #0084B2;
}
.navbar-inverse .navbar-collapse{
	border-color: white;
}
.navbar-collapse{
	background-color: white;
}


/* textos*/
.nombre{
	font-size: 350%;
	font-family: 'Kaushan Script', cursive;
	animation-duration: 3s;
 	animation-name: slidein;
 	animation-timing-function: 3s;
 	animation-direction: alternate, reverse, normal;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


h1{
	margin-bottom:3%;
	margin-top: 60px;
	font-size: 350%;
	font-family: 'Kaushan Script', cursive;
	

}


h4{
	
	font-size: 150%;
	margin-top: 5%;
}



/*seccion sobre mi*/

.yo{
	/*background-image: url(../img/fondouno.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;*/
	color: white;
	background-color: #B2107E;

}

#blanco{
	color: white;
	margin-top: 5%;
}
#link{
	color: white;

}
p{
	font-size: 20px;
	margin-bottom: 3%;
}

#titulouno{
	margin-top: 5%;
	
}

#fotoyo {
    width: 70%;
    margin-top: 50px;
   

}
/*
#textoyo{
	background-color: rgba(0, 0, 0, 0.3);
}
*/



#portafolio{
	background-color: #B2107E;

}

#icoport{
	font-size: 700%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.fa-laptop:hover{
	color: #26C6FF;
}
.fa-play:hover{
	color: #26C6FF;
}

.fa-camera-retro:hover{
	color: #26C6FF;
}

.fa-users:hover{
	color: #26C6FF;
}

#icoportdos{
	font-size: 700%;
	margin-top: 5%;
	margin-bottom: 5%;
}

#icoportcuatro{
	font-size: 700%;
	margin-top: 5%;
	margin-bottom: 5%;
}

#icoporttres{
	font-size: 700%;
	margin-top: 5%;
	margin-bottom: 5%;
}

#blanco{
	margin-bottom: 20%;
}


/*modal*/
.btn{
	background-color:#B2107E;
	margin-top: 5%;
	margin-bottom:5%;
	font-size:130%;
	color: width;
	border:transparent;
	
}
.btn:hover{
	background-color: white;
	color: #B2107E;
}

#dialogofoto{
	width: 80%;

}
.fade{
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

/*trabajos web*/
.web{
	background-color:#26C6FF;
}
#trabajosweb{
	width: 100%;
}

#movil{
	width: 40%;
}


#botonazuldos{
	background-color: #26C6FF;
	margin-top: -1%;
	width: 200px;
}
#botonazuldos:hover{
	background-color: white;
	color: #B2107E;
}
/*video responsive*/


.video{
	background-color: #B2107E;
	color: white;
}

#espacio {
    margin-top: 5%;
    margin-bottom: 5%;
}


#cien{
	width: 65px;
}

#s7{
	width: 70px;
}

/*seccion foto*/
#fotografias{
	background-color: #26C6FF;
}

/*seccion facilitacion*/
#facil{
	background-color: #B2107E;
}


/*seccion contacto*/
#contacto{
	background-color: #26C6FF;
	color: white;
}


#icon{
	color:white;
	font-size: 500%;
	cursor: pointer;
			
}

#icon:hover{
	color:#B2107E;
}

#iconyu{
	color:#B2107E;
	font-size: 500%;
	cursor: pointer;
	margin-bottom: 2%;
}

#iconyu:hover{
	color:white;
}


